[Desktop Entry]
Type=Application
Version=1.1
Name=Paxchange
Comment=A tool to synchronize installed packages across multiple machines
Comment[de]=Ein Tool zum Synchronisieren von installierten Paketen über mehrere Rechner
Exec=paxchange
Icon=paxchange
Terminal=false
Categories=Utility;
